@font-face {
  font-family: 'grafont';
  src:  url('fonts/grafont.eot?2h345y');
  src:  url('fonts/grafont.eot?2h345y#iefix') format('embedded-opentype'),
    url('fonts/grafont.ttf?2h345y') format('truetype'),
    url('fonts/grafont.woff?2h345y') format('woff'),
    url('fonts/grafont.svg?2h345y#grafont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="gf-"], [class*=" gf-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'grafont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gf-angle-double-down:before {
  content: "\e900";
}
.gf-angle-double-left:before {
  content: "\e901";
}
.gf-angle-double-right:before {
  content: "\e902";
}
.gf-angle-double-up:before {
  content: "\e903";
}
.gf-angle-down:before {
  content: "\e904";
}
.gf-angle-left:before {
  content: "\e905";
}
.gf-angle-right:before {
  content: "\e906";
}
.gf-angle-up:before {
  content: "\e907";
}
.gf-arrow-down:before {
  content: "\e908";
}
.gf-arrow-left:before {
  content: "\e909";
}
.gf-arrow-right:before {
  content: "\e90a";
}
.gf-arrow-up:before {
  content: "\e90b";
}
.gf-at:before {
  content: "\e90c";
}
.gf-bars:before {
  content: "\e90d";
}
.gf-bell:before {
  content: "\e90e";
}
.gf-bookmark:before {
  content: "\e90f";
}
.gf-border-all:before {
  content: "\e910";
}
.gf-building:before {
  content: "\e911";
}
.gf-calendar:before {
  content: "\e912";
}
.gf-check:before {
  content: "\e913";
}
.gf-check-circle:before {
  content: "\e914";
}
.gf-check-double:before {
  content: "\e915";
}
.gf-check-square:before {
  content: "\e916";
}
.gf-clock:before {
  content: "\e917";
}
.gf-cog:before {
  content: "\e918";
}
.gf-cogs:before {
  content: "\e919";
}
.gf-comment:before {
  content: "\e91a";
}
.gf-comment-dots:before {
  content: "\e91b";
}
.gf-comments:before {
  content: "\e91c";
}
.gf-credit-card:before {
  content: "\e91d";
}
.gf-desktop-solid:before {
  content: "\e91e";
}
.gf-digg:before {
  content: "\e91f";
}
.gf-download:before {
  content: "\e920";
}
.gf-edit:before {
  content: "\e921";
}
.gf-envelope:before {
  content: "\e922";
}
.gf-eye:before {
  content: "\e923";
}
.gf-facebook:before {
  content: "\e924";
}
.gf-file-alt:before {
  content: "\e925";
}
.gf-file-archive:before {
  content: "\e926";
}
.gf-file-invoice:before {
  content: "\e927";
}
.gf-github:before {
  content: "\e928";
}
.gf-google:before {
  content: "\e929";
}
.gf-google-plus:before {
  content: "\e92a";
}
.gf-hands-helping:before {
  content: "\e92b";
}
.gf-heart:before {
  content: "\e92c";
}
.gf-heart-o:before {
  content: "\e92d";
}
.gf-home:before {
  content: "\e92e";
}
.gf-info:before {
  content: "\e92f";
}
.gf-instagram:before {
  content: "\e930";
}
.gf-laptop:before {
  content: "\e931";
}
.gf-line:before {
  content: "\e932";
}
.gf-linkedin:before {
  content: "\e933";
}
.gf-list:before {
  content: "\e934";
}
.gf-lock:before {
  content: "\e935";
}
.gf-logout:before {
  content: "\e936";
}
.gf-mail-bulk:before {
  content: "\e937";
}
.gf-map-marker:before {
  content: "\e938";
}
.gf-minus:before {
  content: "\e939";
}
.gf-money:before {
  content: "\e93a";
}
.gf-more:before {
  content: "\e93b";
}
.gf-patch-check:before {
  content: "\e93c";
}
.gf-patch-check-fill:before {
  content: "\e93d";
}
.gf-phone:before {
  content: "\e93e";
}
.gf-pinterest:before {
  content: "\e93f";
}
.gf-play:before {
  content: "\e940";
}
.gf-plus:before {
  content: "\e941";
}
.gf-power-off:before {
  content: "\e942";
}
.gf-question:before {
  content: "\e943";
}
.gf-reddit:before {
  content: "\e944";
}
.gf-rocket:before {
  content: "\e945";
}
.gf-ruler:before {
  content: "\e946";
}
.gf-search:before {
  content: "\e947";
}
.gf-share:before {
  content: "\e948";
}
.gf-shopping-cart:before {
  content: "\e949";
}
.gf-sort:before {
  content: "\e94a";
}
.gf-sort-alpha-down:before {
  content: "\e94b";
}
.gf-sort-alpha-down-alt:before {
  content: "\e94c";
}
.gf-sort-alpha-up:before {
  content: "\e94d";
}
.gf-sort-alpha-up-alt:before {
  content: "\e94e";
}
.gf-sort-amount-down:before {
  content: "\e94f";
}
.gf-sort-amount-down-alt:before {
  content: "\e950";
}
.gf-sort-amount-up:before {
  content: "\e951";
}
.gf-sort-amount-up-alt:before {
  content: "\e952";
}
.gf-sort-down:before {
  content: "\e953";
}
.gf-sort-numeric-down:before {
  content: "\e954";
}
.gf-sort-numeric-down-alt:before {
  content: "\e955";
}
.gf-sort-numeric-up:before {
  content: "\e956";
}
.gf-sort-numeric-up-alt:before {
  content: "\e957";
}
.gf-sort-up:before {
  content: "\e958";
}
.gf-star:before {
  content: "\e959";
}
.gf-star-half:before {
  content: "\e95a";
}
.gf-star-half-alt:before {
  content: "\e95b";
}
.gf-store:before {
  content: "\e95c";
}
.gf-store-alt:before {
  content: "\e95d";
}
.gf-store-alt-slash:before {
  content: "\e95e";
}
.gf-store-slash:before {
  content: "\e95f";
}
.gf-tag:before {
  content: "\e960";
}
.gf-tags:before {
  content: "\e961";
}
.gf-telegram:before {
  content: "\e962";
}
.gf-th:before {
  content: "\e963";
}
.gf-times:before {
  content: "\e964";
}
.gf-times-circle:before {
  content: "\e965";
}
.gf-trash:before {
  content: "\e966";
}
.gf-truck:before {
  content: "\e967";
}
.gf-tumblr:before {
  content: "\e968";
}
.gf-twitter:before {
  content: "\e969";
}
.gf-unlock:before {
  content: "\e96a";
}
.gf-user:before {
  content: "\e96b";
}
.gf-user-alt:before {
  content: "\e96c";
}
.gf-user-alt-slash:before {
  content: "\e96d";
}
.gf-user-astronaut:before {
  content: "\e96e";
}
.gf-user-check:before {
  content: "\e96f";
}
.gf-user-circle:before {
  content: "\e970";
}
.gf-user-clock:before {
  content: "\e971";
}
.gf-user-cog:before {
  content: "\e972";
}
.gf-user-edit:before {
  content: "\e973";
}
.gf-user-friends:before {
  content: "\e974";
}
.gf-user-graduate:before {
  content: "\e975";
}
.gf-user-injured:before {
  content: "\e976";
}
.gf-user-lock:before {
  content: "\e977";
}
.gf-user-md:before {
  content: "\e978";
}
.gf-user-minus:before {
  content: "\e979";
}
.gf-user-ninja:before {
  content: "\e97a";
}
.gf-user-nurse:before {
  content: "\e97b";
}
.gf-user-plus:before {
  content: "\e97c";
}
.gf-users:before {
  content: "\e97d";
}
.gf-users-cog:before {
  content: "\e97e";
}
.gf-user-secret:before {
  content: "\e97f";
}
.gf-user-shield:before {
  content: "\e980";
}
.gf-user-slash:before {
  content: "\e981";
}
.gf-users-slash:before {
  content: "\e982";
}
.gf-user-tag:before {
  content: "\e983";
}
.gf-user-tie:before {
  content: "\e984";
}
.gf-user-times:before {
  content: "\e985";
}
.gf-viadeo:before {
  content: "\e986";
}
.gf-viber:before {
  content: "\e987";
}
.gf-video:before {
  content: "\e988";
}
.gf-vk:before {
  content: "\e989";
}
.gf-whatsapp:before {
  content: "\e98a";
}
.gf-window-close:before {
  content: "\e98b";
}
.gf-youtube:before {
  content: "\e98c";
}
