grafont-font-family: "grafont" !default;
grafont-font-path: "fonts" !default;

$gf-angle-double-down: "\e900";
$gf-angle-double-left: "\e901";
$gf-angle-double-right: "\e902";
$gf-angle-double-up: "\e903";
$gf-angle-down: "\e904";
$gf-angle-left: "\e905";
$gf-angle-right: "\e906";
$gf-angle-up: "\e907";
$gf-arrow-down: "\e908";
$gf-arrow-left: "\e909";
$gf-arrow-right: "\e90a";
$gf-arrow-up: "\e90b";
$gf-at: "\e90c";
$gf-bars: "\e90d";
$gf-bell: "\e90e";
$gf-bookmark: "\e90f";
$gf-border-all: "\e910";
$gf-building: "\e911";
$gf-calendar: "\e912";
$gf-check: "\e913";
$gf-check-circle: "\e914";
$gf-check-double: "\e915";
$gf-check-square: "\e916";
$gf-clock: "\e917";
$gf-cog: "\e918";
$gf-cogs: "\e919";
$gf-comment: "\e91a";
$gf-comment-dots: "\e91b";
$gf-comments: "\e91c";
$gf-credit-card: "\e91d";
$gf-desktop-solid: "\e91e";
$gf-digg: "\e91f";
$gf-download: "\e920";
$gf-edit: "\e921";
$gf-envelope: "\e922";
$gf-eye: "\e923";
$gf-facebook: "\e924";
$gf-file-alt: "\e925";
$gf-file-archive: "\e926";
$gf-file-invoice: "\e927";
$gf-github: "\e928";
$gf-google: "\e929";
$gf-google-plus: "\e92a";
$gf-hands-helping: "\e92b";
$gf-heart: "\e92c";
$gf-heart-o: "\e92d";
$gf-home: "\e92e";
$gf-info: "\e92f";
$gf-instagram: "\e930";
$gf-laptop: "\e931";
$gf-line: "\e932";
$gf-linkedin: "\e933";
$gf-list: "\e934";
$gf-lock: "\e935";
$gf-logout: "\e936";
$gf-mail-bulk: "\e937";
$gf-map-marker: "\e938";
$gf-minus: "\e939";
$gf-money: "\e93a";
$gf-more: "\e93b";
$gf-patch-check: "\e93c";
$gf-patch-check-fill: "\e93d";
$gf-phone: "\e93e";
$gf-pinterest: "\e93f";
$gf-play: "\e940";
$gf-plus: "\e941";
$gf-power-off: "\e942";
$gf-question: "\e943";
$gf-reddit: "\e944";
$gf-rocket: "\e945";
$gf-ruler: "\e946";
$gf-search: "\e947";
$gf-share: "\e948";
$gf-shopping-cart: "\e949";
$gf-sort: "\e94a";
$gf-sort-alpha-down: "\e94b";
$gf-sort-alpha-down-alt: "\e94c";
$gf-sort-alpha-up: "\e94d";
$gf-sort-alpha-up-alt: "\e94e";
$gf-sort-amount-down: "\e94f";
$gf-sort-amount-down-alt: "\e950";
$gf-sort-amount-up: "\e951";
$gf-sort-amount-up-alt: "\e952";
$gf-sort-down: "\e953";
$gf-sort-numeric-down: "\e954";
$gf-sort-numeric-down-alt: "\e955";
$gf-sort-numeric-up: "\e956";
$gf-sort-numeric-up-alt: "\e957";
$gf-sort-up: "\e958";
$gf-star: "\e959";
$gf-star-half: "\e95a";
$gf-star-half-alt: "\e95b";
$gf-store: "\e95c";
$gf-store-alt: "\e95d";
$gf-store-alt-slash: "\e95e";
$gf-store-slash: "\e95f";
$gf-tag: "\e960";
$gf-tags: "\e961";
$gf-telegram: "\e962";
$gf-th: "\e963";
$gf-times: "\e964";
$gf-times-circle: "\e965";
$gf-trash: "\e966";
$gf-truck: "\e967";
$gf-tumblr: "\e968";
$gf-twitter: "\e969";
$gf-unlock: "\e96a";
$gf-user: "\e96b";
$gf-user-alt: "\e96c";
$gf-user-alt-slash: "\e96d";
$gf-user-astronaut: "\e96e";
$gf-user-check: "\e96f";
$gf-user-circle: "\e970";
$gf-user-clock: "\e971";
$gf-user-cog: "\e972";
$gf-user-edit: "\e973";
$gf-user-friends: "\e974";
$gf-user-graduate: "\e975";
$gf-user-injured: "\e976";
$gf-user-lock: "\e977";
$gf-user-md: "\e978";
$gf-user-minus: "\e979";
$gf-user-ninja: "\e97a";
$gf-user-nurse: "\e97b";
$gf-user-plus: "\e97c";
$gf-users: "\e97d";
$gf-users-cog: "\e97e";
$gf-user-secret: "\e97f";
$gf-user-shield: "\e980";
$gf-user-slash: "\e981";
$gf-users-slash: "\e982";
$gf-user-tag: "\e983";
$gf-user-tie: "\e984";
$gf-user-times: "\e985";
$gf-viadeo: "\e986";
$gf-viber: "\e987";
$gf-video: "\e988";
$gf-vk: "\e989";
$gf-whatsapp: "\e98a";
$gf-window-close: "\e98b";
$gf-youtube: "\e98c";

